* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: rgb(226, 226, 226);
}

body {
  background-color: rgb(1, 42, 90);
}

#container {
  padding-top: 40px;
  padding-left: 40px;
  position: relative;
}